doctype html 
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='mainController')      
   #header-container
    .header-overlay
      //.header-logo
        img(src="../images/Conrad Eye 2.jpg" alt='Conrad Eye Centers Logo')
      .main-nav
        ul
          li
            a(href="/service") Services
          li 
            a(href="/about") About  
          li
            a(href="/resources") Resources             
          li
            a(href='/contact') Contact
          li#nav-apt
            a Schedule Appointment

      .title-container
        a(href="/")
          h1 #{title}
          h3 Personalized, Comprehensive Eyecare.          
    
    block content
    
    
    #social-links-bkgrnd
      .social-links-container
        .social-icon
              a(href="https://www.facebook.com/ConradEyeCenters/" target="_blank")
                img(src="images/facebook-icon.png" alt="Facebook Logo")
                
        .social-icon
              a(href="https://plus.google.com/+ConradEyeCentersLouisville/posts" target="_blank")
                img(src="images/Google-plus-icon.png" alt="Google Plus Louisville Logo")
                
        .social-icon
              a(href="https://plus.google.com/112202261525095620339/about" target="_blank")
                img(src="images/Google-plus-icon.png" alt="Google Plus New Albany Logo")
                
        .social-icon
              a(href="https://twitter.com/conradeyecenter" target="_blank")
                img(src="images/twitter-logo.png" alt="Twitter")
                
    #footer-container
        .partner-logo-container
          .bbb-logo
            img(src="../images/bbb.png" alt="Better Buisness Bueru Logo")
          .aao-logo
            img(src="../images/aao.png" alt="American Academy of Opthamologists")
        .office-louisville
          p Louisville Office
          p 204 Breckenridge Lane
          p Louisville, KY 40207
          p p. 502-899-7778
        .office-devide
        .office-indiana
          p New Albany Office 
          p 1919 State Street
          p Suite 210
          p New Albany, IN ?????
          p p. 812-944-6063
        .office-devide
        .patient-reviews-foot
          h2 Patient Reviews
            each user, i in userreviews
                ul
                  li= '"'+user.reviewtext+'"'
                  li= '-'+user.reviewfirstname+' '+user.reviewlastname+'.' 
                  li= user.reviewsite
                  li= user.reviewdate
                  
//            ul
//              li User Fist Name
//              li User Last Name
//              li Review Site
              
            
              
script(src="/js/app.min.js")

  
        
